body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    height: 100vh;
    background-color: #405D72;
}

.mainContainer {
    border: 1px solid;
    max-width: 500px;
    padding: 15px 3px;
    background-color: #2F3645;
    border-radius: 5px;
    box-shadow: 19px 30px 75px 28px rgba(0,0,0,0.1);
}

/* .display { */
    /* padding: 12px 20px 0 15px; */
/* } */

.display input {
    border: none;
    outline: none;
    width: 450px;
    background-color: transparent;
    height: 80px;
    font-size: xx-large;
    text-align: right;
    padding: 0 5px;
    margin:0 20px;
    margin-bottom: 15px;
    color:white;
}

input[type="button"] {
    height: 100px;
    width: 100px;
    margin: 3px 0px;
    font-size: x-large;
    border-radius: 5px;
    background-color: #F3F7EC;
    box-shadow: 0px 0px 62px 68px rgba(0,0,0,0.1);
}
.row1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.row2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.row3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.row4{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.row5{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#calBtn{
    width:220px;
}