body{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#EEEEEE;
}
.mainContainer{
    border: 1px solid;
    height: 100%;
    width: 600px;
    max-width:610px;
    overflow: hidden;
}
.display{
    width: 100%;
    padding:0 10px;
}
#display{
    width: 100%;
    border: none;
    outline: none;
    /* background-color: transparent; */
    height:40px;
    font-size: xx-large;
    text-align: right;
    padding-right: 160px;
}