body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    height: 90vh;
    background-color: #EEEEEE;
}

.mainContainer {
    border: 1px solid;
    height: 100%;
    /* width: 600px; */
    max-width: 500px;
    /* overflow: hidden; */
}

.display {
    width: 100%;
    /* background-color: aqua; */
    padding: 12px 20px 0 15px;
}

.display input {
    border: none;
    outline: none;
    /* background-color: transparent; */
    height: 80px;
    font-size: xx-large;
    text-align: right;
    padding: 0 5px;
}

/* .backSpace { */
    /* margin-bottom: 100px; */
    /* background-color: red; */
/* } */

input[type="button"] {
    height: 100px;
    width: 100px;
    margin: 3px 0px;
    font-size: x-large;
}
.row1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.row2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.row3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.row4{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.row5{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#calBtn{
    width:215px;
}